[submodule "lab-1-2020-2-Watcharavit"]
	path = lab-1-2020-2-Watcharavit
	url = https://github.com/Watcharavit/lab-1-2020-2-Watcharavit
[submodule "lab-2-2020-2-Watcharavit"]
	path = lab-2-2020-2-Watcharavit
	url = https://github.com/Watcharavit/lab-2-2020-2-Watcharavit
[submodule "lab-3-2020-2-Watcharavit"]
	path = lab-3-2020-2-Watcharavit
	url = https://github.com/Watcharavit/lab-3-2020-2-Watcharavit
[submodule "lab-4-2020-2-Watcharavit"]
	path = lab-4-2020-2-Watcharavit
	url = https://github.com/Watcharavit/lab-4-2020-2-Watcharavit
[submodule "lab-5-2020-2-Watcharavit"]
	path = lab-5-2020-2-Watcharavit
	url = https://github.com/Watcharavit/lab-5-2020-2-Watcharavit
[submodule "lab-6-2020-2-Watcharavit"]
	path = lab-6-2020-2-Watcharavit
	url = https://github.com/Watcharavit/lab-6-2020-2-Watcharavit
